html{
  height: 100%;
}
body{
  background-image: linear-gradient(to right,rgb(226, 149, 190), rgb(155, 211, 228));
}
h1{
  width: fit-content;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 20px solid;
  border: 40px solid;
  border-left-color: #16DB93;
  border-right-color: #A4036F;
  border-top-color: #EFEA5A;
  border-bottom-color: #FE5E41;
  background-image: linear-gradient(to right,rgb(231, 63, 63), rgb(241, 240, 220), rgb(35, 76, 165));
  background-repeat:repeat-y;
  background-size: cover;
  background-position: left;
  background-position-y: 13px;
  padding-left: 12%;
  padding-right: 12%;
}

.search{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  width: 100%;
}
.input-group-text {
  font-size: 2rem;
  color: rgb(58, 34, 177);
  border: 10px solid;
  border-left-color: #16DB93;
  border-right-color: #A4036F;
  border-top-color: #EFEA5A;
  border-bottom-color: #FE5E41;
  border-radius: 0.25rem;
}
.formControl {
  background-color: white;
  background-clip: padding-box;
  border: 10px solid;
  border-left-color: #16DB93;
  border-right-color: #A4036F;
  border-top-color: #EFEA5A;
  border-bottom-color: #FE5E41;
  height:100px;
  width: 100%;
  padding: auto;
}
.form-control::-webkit-input-placeholder {
  color: rgb(150, 98, 233);
}
.favoriteContainer{
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  margin-bottom: 20px;
  border-radius: 50px;
  background-image: linear-gradient(to right,rgb(18, 96, 185),white,rgb(241, 19, 19));
  ;
}
.buttonContainer{
  display: flex;
  justify-content: center;
}
.favourites{
  display: flex;
  justify-self: flex-start;
  padding-left: 0px;
  border-radius: 50px;
  font-family: 'Monoton', cursive;
  height: fit-content;
}

.input-group > .form-control:not(:first-child){
  width:300px;
}  

.container{
  width:fit-content;
  margin:1px 3px;
}
.mainContainer{
  padding-top: 1rem;
  background-image: url("./foot.png");
  margin-bottom: 10px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 20px;
}

.boy{
  font-size:35px;
  color:rgb(80, 15, 155);
  background-color: rgb(207, 185, 241);
  margin-bottom: 2%;
  border-radius: 10px;
  padding: 4px 3px;
  cursor: pointer;
  padding-top:10px;
}
.boy:hover{
  transform: scale(1.10);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.boy-name{
  font-size:18px;
  display:flex;
  color: rgb(53, 5, 109);
  text-align: center;
  font-weight: bolder;
}
.girl-name{
  font-size:18px;
  display:flex;
  color:rgb(63, 73, 7);
  font-weight: bolder;
  padding: 5px 5px;
}
.cat{
  font-size:35px;
  color:rgb(194, 22, 122);
  background-color: rgb(245, 158, 213);
  border-radius: 15%;
  padding-top:10px;
  cursor: pointer;
}
.cat:hover{
  transform: scale(1.10);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ellie-name{
  font-size:20px;
  display:flex;
  color:rgb(45, 9, 165);
  font-weight: bolder;
}

.ellie{
  font-size:40px;
  color:rgb(151, 16, 133);
  cursor: pointer;
  background-image: linear-gradient(to right,rgb(214, 41, 11),rgb(223, 249, 253),rgb(40, 243, 91));
}

.ellie:hover{
  transform: scale(1.50);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.girl-top{
  color: rgb(221, 61, 12);
  cursor: pointer;
  border-right: 6px solid;
  border-left: 6px solid;
  border-radius: 10px;
  border-right-color: rgb(170, 7, 7);
  border-left-color: rgb(169, 14, 8) ;
  font-size: 40px;
}
.boy-top{
  color: rgb(7, 25, 126);
  cursor: pointer;
  border-right: 6px solid;
  border-left: 6px solid;
  border-radius: 10px;
  border-right-color: rgb(7, 133, 7);
  border-left-color: rgb(7, 133, 7) ;
  font-size: 40px;
}
.baby-top{
  cursor: pointer;
  border-right: 6px solid;
  border-left: 6px solid;
  border-radius: 10px;
  border-right-color: rgb(15, 157, 167);
  border-left-color: rgb(11, 121, 155);
}
.baby-top-boy{
  color: rgb(44, 10, 153);
  cursor: pointer;
  font-size: 40px;
}
.baby-top-girl{
  color: rgb(209, 68, 12);
  cursor: pointer;
  font-size: 40px;
}


@media(max-width:800px){
  .App{
    background-size: contain;
    background-position-x: -15px;
    padding-top: 10%;
    padding-bottom: 10%;
    background-repeat: repeat-y;
    background-position-x: 1px;
    background-position-y: 2px;
    padding-top: 1px;
    margin: 2rem;
  }
  body{
    background-image: linear-gradient(to right,rgb(226, 149, 190), rgb(155, 211, 228));
  }
  input{
    width: 100px;
    }
    .form-control{
      width: max-content;
    }
    .input-group > .form-control:not(:first-child){
      width: max-content;;
    } 
    .boy-top{
      font-size: 30px;
    }
    .girl-top{
      font-size: 30px;
    }
    .baby-top-boy{
      font-size: 20px;
    }
    .baby-top-girl{
      font-size: 20px;
    }
    .favourites{
      font-size: 20px;
    }
    .input-group-text{
      display: none;
    }


}
