html{
  height: 100%;
}
body{
  background-image: linear-gradient(to right,rgb(226, 149, 190), rgb(155, 211, 228));
}
h1{
  width: fit-content;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 20px solid;
  border-top: 40px solid;
  border-left-color: #16DB93;
  border-right-color: #A4036F;
  border-top-color: #EFEA5A;
  border-bottom-color: #FE5E41;
  background-image: linear-gradient(to right,rgb(124, 186, 211), rgb(238, 172, 232));
  background-repeat:repeat-y;
  background-size: cover;
  background-position: left;
  background-position-y: 13px;
  padding-left: 12%;
  padding-right: 12%;
}

.search{
  display: flex;
  justify-content: center;
  background-color: inherit;
}
.input-group-text {
  font-size: 2rem;
  color: rgb(58, 34, 177);
  border: 10px solid;
  border-left-color: #16DB93;
  border-right-color: #A4036F;
  border-top-color: #EFEA5A;
  border-bottom-color: #FE5E41;
  border-radius: 0.25rem;
}
.form-control {
  background-color: white;
  background-clip: padding-box;
  border: 3px solid;
  border-left-color: #16DB93;
  border-right-color: #A4036F;
  border-top-color: #EFEA5A;
  border-bottom-color: #FE5E41;
  height: inherit;
}
.form-control::-webkit-input-placeholder {
  color: rgb(150, 98, 233);
}
.input-group > .form-control:not(:first-child){
  width:300px;
}

.favourites {
  display: flex;
  justify-self: flex-start;
  padding-left: 0px;
  background-image: linear-gradient(to right,#EFEA5A);
  border-radius: 50px;
  font-family: 'Monoton', cursive;
  height: fit-content;
}

.container{
  width:fit-content;
  margin:1px 3px;
}
.mainContainer{
  padding-top: 1rem;
  background-image: url("./foot.png");
  margin-bottom: 10px;
  border-radius: 50px;
  margin: auto;
}

.favoriteContainer{
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  margin-bottom: 10px;
  border-radius: 50px;
  background-image: linear-gradient(to right,rgb(224, 88, 248),rgb(141, 238, 255), rgb(129, 184, 104));
  ;
}

.boy{
  font-size:40px;
  color:rgb(12, 96, 223);
  background-color: rgb(203, 233, 228);
  margin-bottom: 2%;
  border-radius: 10px;
  padding: 4px 2px;
  cursor: pointer;
}
.boy:hover{
  transform: scale(1.10);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.boy-name{
  font-size:20px;
  display:flex;
  color: rgb(10, 8, 124);
  text-align: center;
  font-weight: bolder;
}
.girl-name{
  font-size:20px;
  display:flex;
  color:rgb(39, 15, 9);
  font-weight: bolder;
  padding: 5px 5px;
}
.cat{
  font-size:40px;
  color:rgb(226, 6, 17);
  background-color: rgb(242, 191, 223);
  border-radius: 15%;
  margin-bottom: 2%;
  cursor: pointer;
}
.cat:hover{
  transform: scale(1.10);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ellie-name{
  font-size:20px;
  display:flex;
  color:rgb(12, 112, 50);
  font-weight: bolder;
}

.ellie{
  font-size:40px;
  color:rgb(9, 100, 80);
  cursor: pointer;
}

.ellie:hover{
  transform: scale(1.50);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


@media(max-width:1200px){
  .App{
    background-size: contain;
    background-position-x: -15px;
    padding-top: 10%;
    padding-bottom: 10%;
    background-repeat: repeat-y;
    background-position-x: 1px;
    background-position-y: 2px;
    padding-top: 1px;
    margin: 2rem;
  }
  body{
    background-image: linear-gradient(to right,rgb(226, 149, 190), rgb(155, 211, 228));
  }
}