.App {
  text-align: center;
  display: flex;
}

.container{
  width:fit-content;
  margin:1px 7px;
}

html{
border: 20px solid;
border-left-color: #16DB93;
border-right-color: #A4036F;
border-top-color: #EFEA5A;
border-bottom-color: #FE5E41;
background-image: url("https://i.pinimg.com/originals/a3/64/79/a36479a19d3dac64d71edbf46568bb45.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position-x: -40px;
height: 100%;
padding-left: 12%;
padding-right: 12%;
padding-top: 10%;
}
.boy{
  font-size:40px;
  color:rgb(14, 25, 42);
  background-color: rgb(203, 233, 228);
  margin-bottom: 2%;
  border-radius: 10px;
  padding: 2px 2px;
}

.boy-name{
  font-size:20px;
  display:flex;
  color: rgb(10, 8, 124);
  text-align: center;
  font-weight: bolder;
}
.girl-name{
  font-size:20px;
  display:flex;
  color:rgb(75, 40, 32);
  font-weight: bolder;
}
.cat{
  font-size:40px;
  color:rgb(122, 24, 15);
  background-color: rgb(245, 205, 198);
  border-radius: 15%;
}

.ellie-name{
  font-size:20px;
  display:flex;
  color:rgb(200, 15, 120);
  font-weight: bolder;
}

.ellie{
  font-size:40px;
  color:rgb(235, 32, 177);
}



@media(max-width:800px){
  html{
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    background-size: 100%;
    background-repeat: repeat-y;
    background-position-x: 10px;
  }
}